<h2>Search for flights</h2>
<%= form_with url: flights_path, method: :get, class: "search-flight" do |form| %>
<div>
    <div>
        <%= form.label :departure_airport %><br>
        <%= form.select :departure_airport, @departure_airports%>
    </div>
    <div>
        <%= form.label :arrival_airport %><br>
        <%= form.select :arrival_airport, @arrival_airports%>
    </div>
    <div>
        <%= form.label :number_of_passengers%><br>
        <%= form.select :number_of_passengers, @number_of_passengers%>
    </div>
    <div>
        <%= form.label :departure_date_and_time %><br>
        <%= form.datetime_local_field :start_datetime, value:Time.now%>
    </div>
</div>

    <%= form.submit "Search" %>
<% end %>

<hr>

<h2>Results</h2>

<span><%= @queried_flights.length%> <%= "flight".pluralize(@queried_flights.length) %> matches your query</span>

<h3>Available flights</h3>
<ul>
    <% @queried_flights.each do |flight| %>
    <li><%="Flight number: #{flight.id}" %></li>
    <% end %>
</ul>
